@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
 
/* --------------------------------- colors --------------------------------- */
 
/* ------------------------------- background       */
 
    --bg-dark:          #cbe4eb;
    --bg-mid:           #e0ebee;
    --bg-light:         #e5f6f3;
 
/* --------------------------------- primary        */
 
    --interface-dark :  #e8f1f0;
    --interface-light:  #f4f8f4;
    --dark:             #454d63;
    --blue:             #4591dc;
    --subtle-warm:      #f3f2ee;
    --subtle-cold:      #b4c0d9;
 
/* ---------------------------------- reds          */
 
    --red-dark:         #d24e63;
    --red-mid:          #e86c7e;
    --red-light:        #e98893;
 
/* --------------------------------- yellows        */
 
    --yellow-dark:      #fd9a4d;
    --yellow-mid:       #ffb94d;
    --yellow-light:     #ffca4c;
 
/* --------------------------------- greens         */
 
    --green-dark:       #478965;
    --green-mid:        #57a682;
    --green-light:      #73bf7c;
 
/* --------------------------------- purples        */
 
    --purple-dark:      #d17bcf;
    --purple-mid:       #d096e1;
    --purple-light:     #c8b2f9;
 
}

/* -------------------------------- css reset ------------------------------- */

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--dark);
    display: flex;
    justify-content: center;
    background-color: var(--bg-dark);
}

.container {
    margin-top: 4rem;
    width: 60vw;
    background-color: var(--interface-light);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow:
    0 1.7px 1.5px rgba(0, 0, 0, 0.047),
    0 4.8px 4.1px rgba(0, 0, 0, 0.053),
    0 11.5px 9.9px rgba(0, 0, 0, 0.055),
    0 38px 33px rgba(0, 0, 0, 0.07);
}

.input-form {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
}

.input-text {
    width: 80%;
    padding: .5rem;
}

.submit-button {
    width: 20%;
    margin-left: .2rem;
}

ul {
    list-style: none;
}

.list {
    margin-top: 1rem;
    width: 80%;
}

.item-list {
    width: 100%;
}

.list-item {
    padding: .8rem;
    background-color: var(--interface-light);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: .5rem;
    box-shadow:
    0 0.3px 0.3px rgba(0, 0, 0, 0.066),
    0 0.9px 1.3px rgba(0, 0, 0, 0.062),
    0 4px 12px rgba(0, 0, 0, 0.07);
}